/* styles for code clipboard-copy button */

pre {
  position: relative;
  overflow: auto;
}

pre > button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: white;
  border: solid 2px black;
  /* border-radius: 5px; */
  text-shadow: #c4c4c4 0 0 2px;
}

pre button:hover {
  cursor: pointer;
  background-color: var(--color-info);
}